<div>
<table>
  <tr>
    <td class="stats1">
      <ngx-charts-bar-vertical [results]="this.facilityTypes" [view]="view" [scheme]="colorScheme" [gradient]="gradient"
                               [legend]="legend" [legendTitle]="legendTitle" [legendPosition]="legendPosition"
                               [animations]="animations" [showDataLabel]="showDataLabel"  [tooltipDisabled]="tooltipDisabled"
                               [roundEdges]="roundEdges" [barPadding]="barPadding">
      </ngx-charts-bar-vertical>
    </td>

</table>
</div>
