.mainMenu {
  left: 500px;
}

@media screen and (min-width: 760px) {
  .tabMenuSpacing {
    position: relative;
    text-align: center;
    min-width: 10em
  }
}

/*.tabMenuSpacing {*/
/*    position: relative;*/
/*    text-align: center;*/
/*    min-width: 25em*/
/*  }*/


.noIcon {
  background: bisque;
  font-family: "Bradley Hand ITC";
  font-size: 25px;
  min-width: 22em;
}

.img {
  /*min-width: 400px;*/
  width: clamp(200px, 50%, 400px);
}
