/* Centered section inside the top navigation */
.topnav-centered {
  float: left;
  position: absolute;
  left: 30%;
  transform: translate(-50%, -100%);
}

.topnav-left {
  float: none;
  position: absolute;
  left: 3%;
  transform: translate(-10%, -0%);
}

.notification_icon{
  position: relative;
  left: -100px;
  width: 40px;
}
