<p-toast position="bottom-right"></p-toast>

<div id="loginContainer" *ngIf="loginForm" fxLayout="column" class="centered">
  <div class="wrapper fadeInDown">
    <h2>Already registered?... </h2>
    <button pButton type="button" (click)="showLogin()" class="p-button-primary"> {{'Login'}}</button>
    <div [formGroup]="loginForm" id="formContentLogin" *ngIf="loginButton">
      <p>Login</p>
      <!-- Login Form -->
      <input pInputText type="email" id="emailLogin" formControlName="emailLogin" name="login"
             placeholder="{{'Email'}}">
      <input pInputText type="password" id="passwordLogin" formControlName="passwordLogin" name="login"
             placeholder="{{'Password'}}">
      <br><br>
      <button pButton type="button" (click)="login()" class="p-button-primary"> {{'Login'}}</button>
    </div>
  </div>
</div>
