@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


.topnav-left {
  float: none;
  position: absolute;
  left: 3%;
  transform: translate(-10%, -0%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.notification_wrap{
  width: 500px;
  margin: 5px 0 0 -400px;
}

.notification_wrap .notification_icon{
  position: relative;
  width: 50px;
  height: 0px;
  font-size: 50px;
  margin: 0 auto;
  text-align: center;
  color: #605dff;
}

.notification_wrap .notification_icon .fa-bell{
  cursor: pointer;
}

.notification_wrap .dropdown{
  width: 470px;
  height: auto;
  background: #fff;
  border-radius: 5px;
  box-shadow: 1px 2px 2px 3px rgba(0,0,0,0.125);
  margin: 55px auto 0;
  padding: 5px 20px;
  position: absolute;
  display: none;
  z-index: 9;
}

.notification_wrap .dropdown .notify_item{
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-bottom: 2px solid #dbdaff;
}

.notification_wrap .dropdown .notify_item:last-child{
  border-bottom: 10px;
}

.notification_wrap .dropdown .notify_item .notify_img{
  margin-right: 15px;
}

.notification_wrap .dropdown .notify_item .notify_info p{
  margin-bottom: 5px;
}

.notification_wrap .dropdown .notify_item .notify_info p span{
  color: #605dff;
  margin-left: 5px;
}

.notification_wrap .dropdown .notify_item .notify_info .notify_time{
  color: #c5c5e6;
  font-size: 12px;
}

.notify_time {
  /*position: relative;*/
  /*left:60px;*/
  /*right:10px;*/
  margin-left: 80px;
  margin-top: -30px;
  color: #c5c5e6;
}

.notification_wrap .dropdown:before{
  content: "";
  position: absolute;
  top: -30px;
  left: 50%;
  /*transform: translateX(-50%);*/
  border: 15px solid;
  border-color: transparent transparent #fff transparent;
}

.notification_wrap .dropdown.active{
  display: block;

}
