<p-menubar [style]="{'background-color': '#ccccff'}" class="menubar">
  <div class="topnav">
    <div class="topnav-left">
  <button pButton icon="pi pi-home" class="p-button-text p-button-secondary profileBtn" (click)="goToHome()"></button>
    </div>

<!--    <div class="wrapper">-->
      <div class="notification_wrap">
        <div class="notification_icon">
          <button pButton icon="pi pi-bell" class="p-button-text p-button-secondary profileBtn" (click)="displayNotifications()"></button>
        </div>
        <div class="dropdown">
          <div class="notify_item" *ngFor="let notification of this.notifications">
              <p> {{notification.message}}</p>
              <div class="notify_time">{{notification.date}}</div>
          </div>
        </div>
      </div>
<!--    </div>-->

  <button pButton icon="pi pi-user" class="p-button-text p-button-secondary profileBtn" (click)="goToProfile()" ></button>
  <button pButton icon="pi pi-sign-out" class="p-button-text p-button-secondary" (click)="logout()"></button>
  </div>
</p-menubar>
