<!--<app-home></app-home>-->
<div class="centered" fxLayout="column">
<div class="card w-75" *ngIf="tenantsApartmentsList.length!=0">
<p-accordion [multiple]="true">
  <p-accordionTab *ngFor="let tenantApartment of this.tenantsApartmentsList">
    <p-header>
      <p>Tenant {{tenantApartment[0]["evaluatedUser"].firstName}} {{tenantApartment[0]["evaluatedUser"].lastName}}</p>
      <p> Contact : {{tenantApartment[0]["evaluatedUser"].mobileNumber}}</p>
<!--      <div fxLayout="column" >-->
      <p> Appointment date: {{tenantApartment[2]["appointmentDate"]}}</p>
<!--      </div>-->
    </p-header>
    <div class="card-body ">
      <p-tag styleClass="p-mr-2"  class="position-relative top-1 start-50 badge" style="margin-left: 480px"
             severity="warning"> #{{tenantApartment[1]["correspondingApartment"].idProperty}}
      </p-tag>
      <h5 class="card-title text-900">Apartment with {{tenantApartment[1]["correspondingApartment"].nrOfRooms +' rooms, ' + tenantApartment[1]["correspondingApartment"].divisionType + ', ' + tenantApartment[1]["correspondingApartment"].area + ' mp2'}}</h5>

      <ul>
        <li class="flex py-2" >
          <div class="text-600 font-medium"> <mat-icon> place</mat-icon> </div>
          <div class="text-900 md:w-4 md:flex-order-1 flex-order-1" style="padding-left: 10px">{{tenantApartment[1]["correspondingApartment"].land}}, {{tenantApartment[1]["correspondingApartment"].city}}, {{tenantApartment[1]["correspondingApartment"].street}}, {{tenantApartment[1]["correspondingApartment"].nr}}</div>
        </li>
        <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap" style="align-items: center">
          <div class="text-600 font-medium"> <mat-icon> settings_overscan</mat-icon> </div>
          <div class="text-900" style="padding-left: 10px">{{tenantApartment[1]["correspondingApartment"].area}} mp2</div>
          <div class="text-600 font-medium" style="padding-left: 20px"> <mat-icon>style</mat-icon> </div>
          <div class="text-900" style="padding-left: 10px">{{tenantApartment[1]["correspondingApartment"].style}}</div>
          <div class="text-600 font-medium" style="padding-left: 20px"> 	<mat-icon> vpn_key</mat-icon> </div>
          <div class="text-900" style="padding-left: 10px">{{tenantApartment[1]["correspondingApartment"].nrOfRooms}} rooms</div>
        </li>

        <li class="flex align-items-center py-3 px-2 border-top-1 border-bottom-1 surface-border flex-wrap">
          <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1 line-height-3">
            {{tenantApartment[1]["correspondingApartment"].description}}</div>
        </li>
      </ul>
    </div>

      <div *ngFor="let img of tenantApartment[1]['correspondingApartment'].imagesToShow" class="flex-container" style="padding-left: 40px">
        <p-image  [src]= 'img' width="200px" [preview]="true"></p-image>
      </div>
  </p-accordionTab>

</p-accordion>
</div>

  <div *ngIf="tenantsApartmentsList.length==0">
    <h2> Currently no tenant appointments</h2>
  </div>
  </div>
