<!--<app-navigation-toolbar-landlord></app-navigation-toolbar-landlord>-->
<p-toast position="bottom-center"></p-toast>

<div class="centered" *ngIf="noRentalRequests"> <h3> Currently no new rental requests </h3></div>

<div class="card w-50 classCard" *ngFor="let request of this.rentalRequests">
  <div class="card-body">
    <h5> Request from {{request.nameRequester}} </h5>
    <h5> For apartment #{{request.idProperty}} </h5>

    <div class="container">
      <div class="row">
        <div class="col-11">
        </div>
        <div class="col-sm">

  </div>
  Tenant's answers:<br><br>
        <fieldset disabled>
    <label for="question1">Where do you work currently?</label>
    <input type="text" id="question1" class="form-control" placeholder={{request.question1}}>
    <label for="question2">Where did you live before?</label>
    <input type="text" id="question2" class="form-control" placeholder={{request.question2}}>
    <label for="question3">For how much time do you plan to rent the apartment?</label>
    <input type="text" id="question3" class="form-control" placeholder={{request.question3}}>
  </fieldset>
<!--        <div class="centered">-->
        <button pButton pRipple label="Approve" icon="pi pi-check" class="p-button-success" style="max-width: 100px;" (click)="approveRequest(request.idLandlord, request.idTenant, request.idProperty)"></button>
        <button pButton pRipple type="button" label="Reject" class="p-button-raised p-button-danger" style="max-width: 100px"></button>
<!--        </div>-->
      </div>
    </div>
  </div>
</div>
