<p-toast position="top-right"></p-toast>

<div id="registerContainer" *ngIf="registerForm" >
  <div class="wrapper fadeInDown">
    <h2>Register as </h2>
    <button pButton type="button" class="p-button-primary" (click)="clickLandlord()" [ngClass]="{'brown':toggle1}"> {{'Landlord'}}</button>
    <button pButton type="button" class="p-button-primary" (click)="clickTenant()" [ngClass]="{'brown':toggle2}"> {{'Tenant'}}</button>
    <br>
    <div [formGroup]="registerForm" id="formContentRegister">
      <!-- Register Form -->
      <input pInputText type="text" id="firstName" formControlName="firstName" name="register"
             placeholder="{{'First name' }}">
      <input pInputText type="text" id="lastName" formControlName="lastName" name="register"
             placeholder="{{'Last name' }}">
      <input pInputText type="email" id="email" formControlName="email" name="register"
             placeholder="{{'Email'}}">
      <input pInputText type="password" id="password" formControlName="password" name="register"
             placeholder="{{'Password'}}">
      <br><br>
      <button pButton type="button" (click)="register()" class="p-button-primary"> {{'Register'}}</button>
    </div>
  </div>
</div>

<div id="loginContainer" *ngIf="loginForm">
  <div class="wrapper fadeInDown">
    <h2>Already registered?... </h2>
    <button pButton type="button" (click)="showLogin()" class="p-button-primary"> {{'Login'}}</button>
    <div [formGroup]="loginForm" id="formContentLogin" *ngIf="loginButton">
      <p>Login</p>
      <!-- Login Form -->
      <input pInputText type="email" id="emailLogin" formControlName="emailLogin" name="login"
             placeholder="{{'Email'}}">
      <input pInputText type="password" id="passwordLogin" formControlName="passwordLogin" name="login"
             placeholder="{{'Password'}}">
      <br><br>
      <button pButton type="button" (click)="login()" class="p-button-primary"> {{'Login'}}</button>
    </div>
  </div>
</div>
